.detail-width {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    background: white;
}

.overview {
    margin-top: 35px;
}

.movie-details {
    height: auto;
}

.cast-card {
    width: 100px;
    margin: 0 10px;
    height: 190px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll {
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: -webkit-box;
}

.cast-name {
    font-weight: 700;
    font-size: 13px;
}

.character-name {
    font-size: 13px;
}

.detail-scroll {
    height: 100%;
    overflow-y: scroll;
}