.post {
    border: 1px solid black;
    margin: 20px;
}

.card-width {
    width: 250px;
    float: left;
    margin: 30px;
}

.img-width {
    width: 100%;
}

.movie-info {
    height: 85px;
}

.movie-title {
    width: 100%;
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 15px 0 10px 0;
    display: -webkit-inline-box;
}

.movie-year {
    float: left;
}

.movie-rating {
    float: right;
}